<!DOCTYPE html>
<html lang="en">

<head>
    <title>Upload Files</title>
    <!-- Material Design Lite -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <style>
        .page-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }

        .drop-zone {
            cursor: pointer;
            padding: 20px;
            border: 2px dashed #009688;
            color: #009688;
            font-weight: bold;
            text-align: center;
            margin: 20px;
            position: relative;
            overflow: hidden;
        }

        .drop-zone:hover {
            background-color: #E0F2F1;
        }

        .file-name {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input type="text" id="secretKey" placeholder="Secret Key" style="margin-bottom: 10px;"
                        class="mdl-textfield__input">
                </div>
                <button id="generateKeyButton" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                    style="margin-bottom: 10px;">
                    Generate Random Key
                </button>
                <button id="downloadKeyButton" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                    style="margin-bottom: 10px;">
                    Download Key
                </button>
                <button id="uploadKeyButton" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                    style="margin-bottom: 20px;">
                    Upload Key
                    <input type="file" id="keyInput" hidden>
                </button>
                <div id="drop_zone" class="drop-zone mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    Drop file here or click to upload
                    <input type="file" id="fileInput" hidden>
                </div>
                <span id="fileName" class="file-name"></span>
            </div>
        </main>
    </div>

    <script>
        document.getElementById('fileInput').addEventListener('change', handleFileSelect);

        document.getElementById('keyInput').addEventListener('change', handleKeyFileSelect);

        document.getElementById('drop_zone').addEventListener('click', function () {
            document.getElementById('fileInput').click();
        });

        document.getElementById('uploadKeyButton').addEventListener('click', function () {
            document.getElementById('keyInput').click();
        });

        document.getElementById('generateKeyButton').addEventListener('click', function () {
            // Generate random key
            let key = window.crypto.subtle.generateKey({
                    name: "AES-GCM",
                    length: 256
                },
                true,
                ["encrypt", "decrypt"]
            )
            .then(key => {
                // Return key as text
                window.crypto.subtle.exportKey('jwk', key)
                    .then(keyText => {
                        console.log(keyText);
                        document.getElementById('secretKey').value = keyText.k;
                    });
            });
        });

        document.getElementById('downloadKeyButton').addEventListener('click', function () {
            // Create a Blob with the key string
            let blob = new Blob([document.getElementById('secretKey').value], {
                type: 'text/plain'
            });

            // Create a download link
            let a = document.createElement('a');
            a.href = window.URL.createObjectURL(blob);
            a.download = 'key.txt';
            a.click();
        });

        function handleKeyFileSelect(event) {
            event.stopPropagation();
            event.preventDefault();

            let file = event.target.files ? event.target.files[0] : event.dataTransfer.files[0];

            // Read the uploaded file
            let reader = new FileReader();
            reader.onload = function (event) {
                // Set the key in the input fields
                document.getElementById('secretKey').value = event.target.result;
            };
            reader.readAsText(file);
        }

        function handleFileSelect(event) {
            event.stopPropagation();
            event.preventDefault();

            // Support both drop and file input change events
            let file = event.target.files ? event.target.files[0] : event.dataTransfer.files[0];
            document.getElementById('fileName').textContent = 'Preparing: ' + file.name;

            // Define chunk size
            let chunkSize = 20 * 1024 * 1024; // 20 MB, as non-Nitro users only get 25MB each

            // Read the file as an ArrayBuffer
            file.arrayBuffer().then(fileBuffer => {
                // Convert the ArrayBuffer to a Uint8Array
                let fileData = new Uint8Array(fileBuffer);

                window.crypto.subtle.importKey("jwk", {
                    "alg": "A256GCM",
                    "ext": true,
                    "k": document.getElementById('secretKey').value,
                    "key_ops": [
                        "encrypt",
                        "decrypt"
                    ],
                    "kty": "oct"
                }, "AES-GCM", true, ["encrypt", "decrypt"]).then(key => {
                    // Encrypt the file data using the generated key
                    let iv = window.crypto.getRandomValues(new Uint8Array(12));
                    console.log(iv);
                    if (document.getElementById('secretKey').value != "") {
                        window.crypto.subtle.encrypt({
                                name: "AES-GCM",
                                iv: iv
                            },
                            key,
                            fileData
                        ).then(encryptedData => {
                            console.log(encryptedData)
                            let encryptedBlob = new Blob([[...iv].map(x => String.fromCharCode(x)).join(""), new Uint8Array(encryptedData)], {
                                type: 'application/octet-stream'
                            });
        
                            if (encryptedBlob.size > chunkSize) {
                                let parts = splitFile(encryptedBlob, chunkSize);
                                uploadParts(parts, file.name);
                            } else {
                                uploadFile(encryptedBlob, file.name);
                            }
                        });
                    } else {
                        // Use unencrypted file
                        let encryptedData = fileData;
                        let encryptedBlob = new Blob([encryptedData], {
                            type: 'application/octet-stream'
                        });
    
                        if (encryptedBlob.size > chunkSize) {
                            let parts = splitFile(encryptedBlob, chunkSize);
                            uploadParts(parts, file.name);
                        } else {
                            uploadFile(encryptedBlob, file.name);
                        }
                    }
                });
            });

            // Encrypt the file before sending to server
            // let reader = new FileReader();
            // reader.onload = function (event) {
            //     // Encrypt the content using AES
            //     let fileContent = new TextDecoder().decode(event.target.result);
            //     if (document.getElementById('secretKey').value != "") {
            //         let encrypted = CryptoJS.AES.encrypt(fileContent, document.getElementById('secretKey').value);
            //         let encryptedString = encrypted.toString();
            //     } else {
            //         let encryptedString = fileContent;
            //     }
            //     // Create a new Blob with the encrypted content
            //     let encryptedBlob = new Blob([encryptedString], {
            //         type: 'application/octet-stream'
            //     });
            //     // Continue with the upload process using the encrypted file
            //     if (encryptedBlob.size > chunkSize) {
            //         let parts = splitFile(encryptedBlob, chunkSize);
            //         uploadParts(parts, file.name);
            //     } else {
            //         uploadFile(encryptedBlob, file.name);
            //     }
            // };
            // reader.readAsArrayBuffer(file);
        }

        function splitFile(file, chunkSize) {
            let parts = [];
            let size = file.size;
            for (let i = 0; i < size; i += chunkSize) {
                let part = file.slice(i, Math.min(size, i + chunkSize));
                parts.push(part);
            }
            return parts;
        }

        function uploadParts(parts, originalFileName) {
            parts.forEach((part, index) => {
                let formData = new FormData();
                formData.append('file', part, `${originalFileName}.part${index + 1}`);
                // Upload part
                fetch('/uploadFile', {
                        method: 'POST',
                        body: formData,
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(`Part ${index + 1} uploaded: `, data);
                        document.getElementById('fileName').textContent =
                            `Uploaded part ${index + 1} of ${parts.length}`;
                        // Handle success response, maybe update progress UI in future version. This is currently bugged and shows the most recently uploaded part instead
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        document.getElementById('fileName').textContent = 'Error uploading part ' + (index +
                            1);
                        // Handle errors here, such as displaying a notification to the user
                    });
            });
        }

        function uploadFile(file, originalFileName) {
            let formData = new FormData();
            formData.append('file', file, originalFileName); // Use the original file name

            fetch('/uploadFile', {
                    method: 'POST',
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    document.getElementById('fileName').textContent = 'Uploaded: ' +
                        originalFileName; // Use the original file name
                    // Handle success response, update UI or alert the user.
                })
                .catch(error => {
                    console.error('Error:', error);
                    document.getElementById('fileName').textContent = 'Error uploading file';
                    // Handle errors here, such as displaying a notification to the user
                });
        }

        let dropZone = document.getElementById('drop_zone');
        dropZone.addEventListener('dragover', function (event) {
            event.stopPropagation();
            event.preventDefault();
            event.dataTransfer.dropEffect = 'copy';
        });

        dropZone.addEventListener('drop', handleFileSelect);
    </script>



</body>

</html>